<div id="main" class="grid-1">
  <div id="logo">
    <h1>{{owner.login}}'s <a class="link" href="https://github.com/{{owner.login}}/codepolio">codepolio</a></h1>
  </div>
  <div method="get" action="/search" id="search">
    <input name="q" type="text" size="40" ng-model="searchText" placeholder="Search Repository..." />
  </div>
  <div class="profile">
    <a href="{{owner.html_url}}">
      <img ng-src="{{owner.avatar_url}}"/>
    </a>
  </div>
  <div class="footer">
    <p> <a href="mailto:{{owner.email}}">{{owner.email}}</a></p>
    <p> designed by <a href="http://miconblog.com">miconblog</a></p>
    <p> &copy; codepolio 2015 </p>
  </div>
</div>

<div class="grid grid-3">
  <div id="statistics" class="grid-1 alpha header">
    <h1>Statistics</h1>
    <p>
      <a href="https://github.com/twitter/repositories"><span id="num-repos"><!-- <img src="assests/spinner.gif"/> -->{{statistics.public_repos_count}}</span> public repos</a>
    </p>
    <p>
      <a href="https://github.com/twitter/repositories"><span id="num-members"><!-- <img src="assests/spinner.gif"/> -->{{statistics.private_repos_count}}</span> private repos</a>
    </p>
    <!-- <p class="email"><a href="mailto:opensource@twitter.com">opensource@twitter.com</a></p> -->
  </div>

  <div id="recently-updated" class="grid-2 omega header">
    <h1>Recently update <a href="https://github.com/{{owner.login}}/repositories">View All on GitHub</a></h1>
    <ol id="recently-updated-repos">
      <li>
       <!--  <span class="name"><a href="https://github.com/twitter/AnomalyDetection">AnomalyDetection</a></span>
        <span class="time"><a href="https://github.com/twitter/AnomalyDetection/commits">Mar 16, 2015</a></span>
        <span class="bullet">⋅</span>
        <span class="watchers"><a href="https://github.com/twitter/AnomalyDetection/watchers">864 stargazers</a></span>
        <span class="bullet">⋅</span>
        <span class="forks"><a href="https://github.com/twitter/AnomalyDetection/network">113 forks</a></span> -->
      </li>
    </ol>
  </div>
</div>
<ol id="repos">
  <li class="repo grid-1 {{repo.language.toLowerCase()}}" ng-repeat="repo in repos | orderBy:'rank'  | filter:searchText">
    <a href="{{repo.url}}">
      <h2><span class="{{repo.provider}}"></span>{{repo.title}}</h2>
      <h3>{{repo.category}}{{repo.language}}</h3>
      <p>{{repo.description}}</p>
      <div class="info">
        <p class="star">Star {{repo.star_count}}</p>
        <p class="fork">Fork {{repo.fork_count}}</p>
      </div>
    </a>
  <li>
</ol>