#wrapper {
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding: 20px 0;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

h1 {
	font-weight: bold;
	font-size: 20px;
	color: #333;
}

h2 {
	font-weight: bold;
	font-size: 20px;
	color: #0084b4;
}

ol, ul {
	list-style: none;
}


// injector
// endinjector
